{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-4 text-center">Bem-vindo! Por favor, faça login.</h3>
        <div class="col justify-content-center">
            <div class="col-md-6 mb-4 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    {% if form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            {% for k, v in form.errors.items %}
                            {{ v }}
                            {% endfor%}
                        </div>
                    {% endif %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}